@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    
    

    .catalog-section-one{
        @apply h-[calc(100vh-5rem)]  py-16 lg:py-24 mx-auto text-center;
    }

    

    .container-card{
        @apply flex  items-stretch gap-4 overflow-x-scroll pb-2 relative overflow-y-clip w-full;
    }

    .card {
        @apply shrink-0 flex flex-col mt-4 h-96 w-[25vw] md:w-40 xl:w-56 
        lg:w-48 relative cursor-pointer transition-all rounded-md overflow-hidden;
    }
    
    .section-modal{
        @apply h-screen w-screen backdrop-blur fixed top-0 left-0 z-50 
        flex items-center justify-center ;
    }

    .search-input {
        @apply md:opacity-0 bg-transparent pb-1 w-full
        border-b-gray-500 border-b-2 text-light-gray-300 outline-none transition-all  
        group-hover:opacity-100 md:w-auto 
        focus:placeholder:text-light-gray-300 ;
    }
    
    .search-input:focus {
        @apply border-b-light-gray-400;
    }

    .search-button {
        @apply bg-gray-400/50 py-2 px-2 rounded-r-lg md:rounded-full  
        transition-all hover:bg-gray-400 group-hover:rounded-none
        group-hover:rounded-r-lg;
    }

    .iframe {
        @apply h-full w-full;
    }

    .container-results{
        @apply flex items-stretch gap-4 pb-2 relative flex-wrap w-full;
    }
}